header{ 
    display: flex;
    padding-inline-start: 100px;
    justify-content: space-between;
    box-shadow: 0px 4px 7px rgba(128, 128, 128, 0.534);
    align-items: center;
    background-color: white;
}
nav ul{
    display:flex;
    padding-inline-end: 100px;
    gap:30px;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}
header nav ul li a{
  text-decoration: none; 
  color: black;  
}
/* sofa cart section */
.container-1{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-inline-end: 517px;
}
.container-1 .set-1{
    margin:20px ;
    box-shadow: 0px 2px 10px rgb(109, 109, 109); ;
}
.set-1{
    position: relative;
    left:10px ;
    top:10px ;
}
.stone{
    position: absolute;
    left: 248px;
    top: 225px;
}
.num{
    position: absolute;
    left: 247px;
    top: 284px;
    color:gray; 
} 
.par{
    position: absolute;
    left: 330px;
    top: 284px;
    color:rgb(10, 62, 80);
 } 
.add{ 
    position: absolute;
    left: 630px;
    top: 298px;
}
.minus{ 
   position: absolute;
    left: 675px;
    top: 298px;
} 
.into{
    position: absolute;
    left: 705px;
    top: 211px;
} 
 .container-1 .set-2{
   box-shadow: 0px 2px 10px rgb(109, 109, 109);  
   margin: 20px;
}
.set-2{
    position: relative;
    left:10px ;
    top:10px ;
}
.rivet{
    position: absolute;
    left: 249px;
    top: 381px;
}
.num-2{ 
    position: absolute;
    left: 247px;
    top: 439px;
    color:gray;  
} 
.par-2{
    position: absolute;
    left: 331px;
    top: 439px; 
    color:rgb(10, 62, 80);
 } 
.add-2{ 
    position: absolute;
    left: 630px;
    top: 451px;
}
 .minus-2{ 
   position: absolute;
    left: 675px;
    top: 451px;
} 
.remove{
    position: absolute;
    left: 705px;
    top: 369px;
} 
.container-1 .set-3{
   box-shadow: 0px 2px 10px rgb(109, 109, 109); ; 
   margin: 20px;
}
.set-3{
    position: relative;
    left:10px ;
    top:10px ;
}
.balt{
    position: absolute;
    left: 248px;
    top: 541px;
}
.num-3{ 
    position: absolute;
    left: 247px;
    top: 606px;
    color:gray;  
} 
.par-3{
    position: absolute;
    left: 332px;
    top: 605px;
    color:rgb(10, 62, 80);
 } 
.add-3{ 
    position: absolute;
    left: 630px;
    top: 620px;
}
 .minus-3{ 
   position: absolute;
    left: 674px;
    top: 620px;
} 
.xmark{
    position: absolute;
    left: 706px;
    top: 530px;
} 
.container-1 .cart{
   box-shadow: 0px 2px 10px rgb(109, 109, 109); 
   margin: 20px;
}
.cart{
    position: absolute;
    left: 730px;
    top: 182px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 4px;
    color:rgb(10, 62, 80);

}
.cart{
  width: 271px;
  height: 122px;
}
.total{
    position: absolute;
    left: 764px;
    top: 236px;
    color: rgb(31, 30, 30);
} 
.parag{
    position: absolute;
    left: 766px;
    top: 269px;
    color: rgb(10, 62, 80);
}
/* footer starts here  */
footer{  
    display:grid;
    grid-template-columns: 15% 75%;
    background-color: rgb(18 51 108);
    padding-left: 10%;
    padding-top: 50px;
    padding-bottom: 100px;  
}
h2{
    color:white;
}
.titles{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-inline-start:50px;
    align-items: center;
    text-align: start; 
}

footer div ul li a{
    list-style: none;
    text-decoration: none;
}
ul li{
    color:rgb(182, 181, 181);
}
.para{
   color:rgb(182, 181, 181); 
}

.sub-titles{
    margin-inline-start: 40px;
}
.titles .Contact .Contact{
    margin-top: 25px;
}